#Ese es el archivo de contraseñas
password.txt
#este es el archivo ejemplo2 de carpeta 1
ejemplo1/carpeta/miejemplo2.txt
#este es el archivo ejemplo2 de carpeta 2
ejemplo2/carpeta1/archivo_ignorar.txt